# Linked List

## Linked Lists

Implementing operations on linked lists is a staple of programming classes and technical interviews.

I resist them because it is unlikely that you will ever have to implement a linked list in your professional work. And if you do, someone has made a bad decision.

However, they can be good Ã©tudes, that is, pieces that you practice in order to learn, but never perform.

**BEST DEFINITION:**


A Python linked list is an abstract data type in Python that allows users to organize information in nodes, which then link to another node in the list. This makes it easier to insert and remove information without changing the index of other items in the list.

In [ ]:
a = [1, 2, 3, 4, 5, 6]

In [ ]:
#Examples of why linked lists are important

a[0]
a[3]

a.remove(4) # remvoed then it changed the index

In [ ]:
a[3] # number returned is changed

As we consider alternatives, some of the factors to keep in mind are:

* Performance in terms of time and space.

* Readability and demonstrably correctness.

In general, performance should be asymptotically efficient; for example, if there is a constant time solution, a linear solution would not be acceptable.
But we might be willing to pay some overhead to achieve bulletproof correctness.

Here's the class we'll use to represent the nodes in a list.

In [ ]:
class Node:
    def __init__(self, data, next=None):
        self.data = data
        self.next = next

    def __repr__(self):
        return f'Node({self.data}, {repr(self.next)})'

We can create nodes like this:

In [ ]:
node1 = Node(1)
node2 = Node(2)
node3 = Node(3)

node1

Node(1, None)

And then link them up, like this:

In [ ]:
node1.next = node2
node2.next = node3

In [ ]:
node1

Node(1, Node(2, Node(3, None)))

There are two ways to think about what `node1` is:

* It is "just" a node object, which happens to contain a link to another node.

* It is the first node in a linked list of nodes.

When we pass a node as a parameter, sometimes we think of it as a node and sometimes we think of it as the beginning of a list.

I know it is easy to look at node1 = 2 and think that it's all that it means but the data inside a node could be ANYTHING. It could be data frames it could be pictures. IT COULD BE ANYTHING. And most likely tou access linked lists everytime you are looking through a collection of images online.

## LinkedList objects

For some operations, it will be convenient to have another object that represents the whole list (as opposed to one of its nodes).

Here's the class definition.

In [ ]:
class LinkedList:
    def __init__(self, head=None):
        self.head = head

    def __repr__(self):
        return f'LinkedList({repr(self.head)})'

If we create a `LinkedList` with a reference to `node1`, we can think of the result as a list with three elements.

In [ ]:
t = LinkedList(node1)
t

LinkedList(Node(1, Node(2, Node(3, None))))

## Search

**Exercise 1:** Write a function called `find2` that takes a `LinkedList` and a target value; if the target value appears in the `LinkedList`, it should return the `Node` that contains it; otherwise it should return `None`. Try to do this without adding attributes to `Node` class

In [ ]:
# Exercise 1 answer

In [ ]:
# use data to get information on the node

In [ ]:
find2(t, 1)

In [ ]:
find2(t, 3)

In [ ]:
find2(t, 5)

These websites will help you. In class I wasn't able to write a function (that was not an attribute of the linkedlist class). But I have used the links below and some good ole finger grease to write a function that does it. Usually it would be step one to find a function that does it and then include it as an attribute.

https://www.tutorialspoint.com/python_data_structure/python_linked_lists.htm#Links to an external site.

https://towardsdatascience.com/python-linked-lists-c3622205da81Links to an external site.

https://www.geeksforgeeks.org/python-program-for-searching-an-element-in-a-linked-list/Links to an external site.

https://builtin.com/data-science/python-linked-listLinks to an external site.

https://www.alphacodingskills.com/python/ds/python-linked-list-search-an-element.phpLinks to an external site.

**Exercise 2:** Add, as an attribute called `find` , the function you wrote to a class called  `LinkedList2` that includes the functionality of your class called `LinkedList` and does the same thing as your function above but acts as an attribute of your class. At this point you may add functionality to your `Node` class to make your code more simple.

You can store a linkedlist in `t2` for clarity. This answer should be in more clearly in links above. You do not have to include all the functionalities listed under the Node or LinkedList Class at the moment. A

In [ ]:
class Node2:
# include old attributes or add new ones to make your life easier

In [ ]:
nodeA = Node2(1)
nodeB = Node2(2)
nodeC = Node2(3)

nodeA

Node(1, None)

In [ ]:
nodeA.next = nodeB
nodeB.next = nodeC

In [ ]:
class LinkedList2:

In [ ]:
t2 = LinkedList2(nodeA)

In [ ]:
t2.find(1)

Node(1, Node(2, Node(3, None)))

In [ ]:
t2.find(3)

Node(3, None)

In [ ]:
t2.find(5)

In [ ]:
# Try your find2 function on your new type of node does it work the same way
# you may especially if borrowing code from links have to be very careful about what you call your attributes


find2(t2, 5)

## Push and Pop

Adding and removing elements from the *left* side of a linked list is relatively easy:

In [ ]:
t3 = t2

In [ ]:
def lpush(t, value):
    t.head = Node(value, t.head)

In [ ]:
t2

LinkedList(Node(1, Node(2, Node(3, None))))

In [ ]:
t3

LinkedList(Node(1, Node(2, Node(3, None))))

In [ ]:
# Showing  you anything can go in linked lists

lpush(t3, [1, 2, 3])
lpush(t3, [3, 5, 7])
lpush(t3, [7, 14, 21])

t3

In [ ]:
# Remember that setting variables only links an object to a variable
# so even though we are changing t3 it actually impacts the real object t2
# this is different with dataframes

t2

In [ ]:
def lpop(t):
    if t.head is None:
        raise ValueError('Tried to pop from empty LinkedList')
    node = t.head
    t.head = node.next
    return node.data

In [ ]:
lpop(t3), lpop(t3), lpop(t3)

In [ ]:
lpop(t3), lpop(t3), lpop(t3)

In [ ]:
lpop(t3)

In [ ]:
t2



**Exercise 3:** Write `rpush` and `rpop`. Adding and removing from the end right side take longer because we have to traverse the list. You may write this as a function. Or as an attribute of `LinkedList3`


If you choose to add it as an attribute.
You may need to add an attribute to LinkedList `__init__` called self.last_node to make this work.

But it is possible to do it without it.

In [ ]:
class LinkedList3:

In [ ]:
t4 = LinkedList3(nodeA)

In [ ]:
t4.rpush({1, 2, 3, 4})
t4

In [ ]:
def rpush(self, newElement):

In [ ]:
rpush(t4, "a")
t2

## Reverse

Reversing a linked list is a classic interview question, although at this point it is so classic you will probably never encounter it.

But it is still a good exercise, in part because there are so many ways to do it. My solutions here are based on [this tutorial](https://www.geeksforgeeks.org/reverse-a-linked-list/).

If you are allowed to make a new list, you can traverse the old list and `lpush` the elements onto the new list:

In [ ]:
def reverse(t):
    t2 = LinkedList()
    node = t.head
    while node:
        lpush(t2, node.data)
        node = node.next

    return t2

In [ ]:
t

LinkedList(Node(1, Node(2, Node(3, None))))

In [ ]:
t = LinkedList(Node(1, Node(2, Node(3, None))))
reverse(t)

LinkedList(Node(3, Node(2, Node(1, None))))

Here's a recursive version that doesn't allocate anything

In [ ]:
def reverse(t):
    t.head = reverse_rec(t.head)

def reverse_rec(node):

    # if there are 0 or 1 nodes
    if node is None or node.next is None:
        return node

    # reverse the rest LinkedList
    rest = reverse_rec(node.next)

    # Put first element at the end
    node.next.next = node
    node.next = None

    return rest

In [ ]:
t = LinkedList(Node("a", Node("p", Node(3, None))))
reverse(t)
t

LinkedList(Node(3, Node(p, Node(a, None))))

And finally an iterative version that doesn't allocate anything.

In [ ]:
def reverse(t):
    prev = None
    current = t.head
    while current :
        next = current.next
        current.next = prev
        prev = current
        current = next
    t.head = prev

In [ ]:
t = LinkedList(Node(1, Node(2, Node(3, None))))
reverse(t)
t

LinkedList(Node(3, Node(2, Node(1, None))))

## Remove

One of the advantages of a linked list (compared to an array list) is that we can add and remove elements from the middle of the list in constant time.

For example, the following function takes a node and removes the node that follows it.

In [ ]:
def remove_after(node):
    removed = node.next
    node.next = node.next.next
    return removed.data

Here's an example:

In [ ]:
t = LinkedList(Node(1, Node(2, Node(3, None))))
remove_after(t.head)
t

**Exercise 4:** Write a function called `remove_bykey` that takes a LinkedList and a target value. It should remove the first node that contains the value, or raise a `ValueError` if it is not found.

Hint: This one is a little tricky.

This is going to help you remove a value...but it won't helpy you raise the value error

you can also try adding a normal remove function

https://www.alphacodingskills.com/python/ds/python-delete-first-node-by-key-of-the-linked-list.php

In [ ]:
def remove(self, position):

In [ ]:
def remove_bykey(self, key):

In [ ]:
t3

In [ ]:
remove_bykey(t3, 3)

In [ ]:
remove_bykey(t3, [7,14, 21])

In [ ]:
t3

## Insert Sorted

Similarly, you can insert an element into the middle of a linked list in constant time.

The following function inserts `data` after the given node in a list.

In [ ]:
def insert_after(node, data):
    node.next = Node(data, node.next)

In [ ]:
t = LinkedList(Node(1, Node(2, Node(3, None))))
insert_after(t.head, 5)
t

**Exercise 5:** Add as an attribute a function called `insert_sorted` (also known as `insort`) that takes a linked list and a value and inserts the value in the list in the first place where it will be in increasing sorted order, that is, with the smallest element at the beginning.

I would name this as a different named Linked List4 for clarity, also remember to include `self.next` as a functionality

In [ ]:
class LinkedList4:

    # Function to initialize head
    def __init__(self):
        self.head = None
        self.next = None

    def sortedInsert(self, new_node):

        # Special case for the empty linked list
        if self.head is None:
            new_node.next = self.head
            self.head = new_node

        # Special case for head at end
        elif self.head.data >= new_node.data:
            new_node.next = self.head
            self.head = new_node

        else :

            # Locate the node before the point of insertion
            current = self.head
            while(current.next is not None and
                 current.next.data < new_node.data):
                current = current.next

            new_node.next = current.next
            current.next = new_node

    # Function to insert a new node at the beginning
    def push(self, new_data):
        new_node = Node(new_data)
        new_node.next = self.head
        self.head = new_node


    def __repr__(self):
        return f'LinkedList({repr(self.head)})'

In [ ]:
t6 = LinkedList4()

In [ ]:
t6

In [ ]:
t6.push(100)
t6.push(120)
t6.push(130)
t6.push(175)
t6.push(2000)
t6

In [ ]:
new_node1= Node2(2001)
new_node2 = Node2(2002)
new_node3 = Node2(125)
new_node4 = Node2(121)


t6.sortedInsert(new_node1)
t6

In [ ]:
t6.sortedInsert(new_node4)
t6

In [ ]:
new_node5 = Node2(3000)
new_node6 = Node2(176)

In [ ]:
t6.sortedInsert(new_node5)

In [ ]:
t6.sortedInsert(new_node6)

In [ ]:
t6

In [ ]:
new_node7 = Node2(178)
t6.sortedInsert(new_node7)

In [ ]:
t6

In [ ]:
t3 = LinkedList4()

In [ ]:
t3.sortedInsert(new_node1)
t3.sortedInsert(new_node3)

In [ ]:
t3

In [ ]:
t3.sortedInsert(new_node2)

In [ ]:
t3

## Make a complete Linked List

**Exercise 6:** Make a `Node` class and a `LinkedList` class with the best and most functionality that you can. Please demonstrate the features. You can also include small explanations for why you included different pieces. Make sure to name your pieces correctly. A lot of the examples oscillate between data or val, or have different names for variables.

For example: I think the `__repr__` methods are indispensable but other exmamples didn't include it.